.manage-user {
    padding: 20px;
    &__title {
        color: red;
    }
    &__table {
        margin-top: 20px;
        height: 500px;
      
    }
    &-content {
        background: red;
    }
}